@import "../variables"

.my-navbar
  position: fixed
  top: 0
  background: transparentize($dark, 0.2)
  color: #ddd
  height: $navbar-height
  width: 100%
  display: grid
  grid-template-columns: auto 1fr
  z-index: 100
.logo, .navigation
  display: flex
  align-items: center
  justify-content: flex-start
  padding: 0.25em 1em

  img
    max-height: 50px
    filter: drop-shadow(0 0 2px black)

.logo
  display: flex
.navigation
  display: flex
  padding: 0
  justify-content: space-between
  & > *
    text-transform: uppercase
  & > .nav-container > a:link, a:visited
    font-size: 1.15rem
    font-weight: 300
    font-family: "Bellota Text", serif
    display: flex
    align-items: center
    justify-content: center
    padding: 1rem 1.5rem
    height: 100%
    text-decoration: none
    color: white
    position: relative
    transition: $default-transition
    &::before
      content: ''
      position: absolute
      width: 0
      background: $commando-red
      height: 4px
      bottom: 4px
      border-radius: 2px
      left: 50%
      transform: translateX(-50%)
      transition: $default-transition
    span
      transition: $default-transition
  a:hover, a.active
    background: transparentize($light, 0.95)
    text-shadow: 0 0 2px $light
    &:before
      width: 90%
    span
      transform: scale(1.1)
  a:not(.active):hover::before
    background: transparentize($commando-red, 0.5)

.nav-container
  display: flex
  height: 100%

.apply-now
  position: absolute
  right: 0
  top: 100%
  padding: 0.25rem 1rem
  font: 1.15rem "Bellota Text", serif
  background: $commando-red
  z-index: 10
  transition: $default-transition
  a:link, a:visited
    text-decoration: none
  &::before
    z-index: 0
    position: absolute
    bottom: 0
    left: 0
    width: 31px
    content: ""
    transform: translate(-50%,50%)
    border: 31px solid transparent
    border-top-color: $commando-red
    transition: $default-transition
  &:hover
    cursor: pointer
    background: darken($commando-red, 10%)
    &::before
      border-top-color: darken($commando-red, 10%)
  &.submitted
    &:hover
      cursor: default
      background: $commando-red
      &::before
        border-top-color: $commando-red
    &::before
      z-index: -1
