@import "../variables"

.video-background
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  opacity: 1
  min-height: 100vh
  min-width: 100vw
  z-index: 0
  video
    min-width: 100%
    min-height: 100%
    @media screen and (min-aspect-ratio: 16/9)
      min-width: 100%
      height: initial